.checkbox-container {
  display: inline-flex;
  position: relative;
  padding-left: 30px; 
  cursor: pointer;
  font-size: 16px;
  color: #36464E;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox-container .checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 18px;
  height: 18px;
  background-color: #fff;  
  border: 1px solid #FCB32A;
  border-radius: 4px;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
  background-color: #fff; 
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container  input:checked ~ .checkmark:before{
  content: '';
  position:absolute;
  left:0px;
  top: 0px;
  width: 18px;
  height: 18px;
  background-color: #FCB32A;
  border: 1px solid #FCB32A;
}
.checkbox-container .checkmark:after {
  /*
  left: 5px;
  top: 2px;
  width: 4px;
  height: 8px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  */
}
.checkbox-select{
  display: flex;
  align-items: center;
  .checkbox-container{
    display: inline-flex;    
  }
  .desc{
    font-size: 16px;
    a{
      color: #fff;  
      text-decoration: underline;
      /*margin: 0 10px;*/
      color: #9685E0;
      &:hover{
          color: #fff;
      }
    }
  }
}

.radio-container{
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  position: relative;
  padding-left: 20px;
}
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-container .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .checkmark {
  /*background-color: #9685E0;*/
  border: 1px solid #9685E0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #9685E0;
}
.radio-check-container{
  position: relative;
  font-size: 14px;
  color: #1B1B1B;
  position: relative;
  padding-left: 20px;
}
.radio-check-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radio-check-container .checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #fff;
  border: 1px solid #D2D2D2;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio-check-container:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the radio button is checked, add a blue background */
.radio-check-container input:checked ~ .checkmark {
  /*background-color: #9685E0;*/
  border: 1px solid #9685E0;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio-check-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio-check-container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radio-check-container .checkmark:after {
 	top: 3px;
	left: 3px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #9685E0;
}
@media all and (max-width: 750px) { 
  .checkbox-select{
    .desc{
      font-size: 14px;
    }
  } 
  .checkbox-container{
    padding-left: 25px;
    .checkmark{
        top: 4px;
        width: 16px;
        height: 16px;
      }
  } 
  .checkbox-container  input:checked ~ .checkmark:before{      
    width: 16px;
    height: 16px;   
  }
  .checkbox-container .checkmark:after {
    left: 5px;
    top: 2px;
    width: 4px;
    height: 8px;    
  }
  .radio-container{
    padding-left: 25px;
    font-size: 14px;
    .checkmark {    
        height: 16px;
        width: 16px;   
        top: 3px;
        &:after{
          top: 4px;
          left: 4px;
          width: 8px;
          height: 8px;
        } 
      }
  } 
 
}